a, .boton, .news, .tancarBot, #saveVotButton, .enviarcom{
/* Firefox */
    -moz-transition-property: all;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: ease;
    -moz-transition-delay: 0s;
     

    /* Chrome / Safari */
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;
 
 
    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 0.2s;
    -o-transition-timing-function: ease;
    -o-transition-delay: 0s;
 
 
    /* Default */
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;

}
#infoPlat_dialog #foro{
	background-color: #F2F2F2;
    border: 1px solid #E2E2E2;
    height: 629px;
    margin:0px auto;
    width: 806px;
}
#infoBeguda_dialog #foro{
	background-color: #F2F2F2;
    border: 1px solid #E2E2E2;
    height: 629px;
    margin:0px auto;
    width: 806px;
}
#foro_int{
	padding: 20px;
	font-weight: 800;
}
.foro_body{
	padding: 20px;
	margin-top: 20px;
}
.foro_top{
	color: #4D4D4D;
	font-family: 'Raleway', sans-serif;
	padding: 20px;
	font-weight: 800;
	font-size: 24px;
}
.foro_top{
	color: #4D4D4D;
	font-family: 'Raleway', sans-serif;
	padding: 20px;
	font-weight: 800;
	font-size: 24px;
}
.sep8{
	border-top:  1px solid #D6D6D6;
	border-bottom: none;
	border-right: none;
	border-left: none;; 
	webkit-box-shadow:0 3px 8px 2px #E0C0A6;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    box-shadow: 1px 1px 0 0 #FFFFFF;
    margin-left: -20px;
    width: 806px;
    float: left;
}
#form_loguin h2{
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
}
#form_loguin {
	font-family: 'Raleway', sans-serif;
}
#form_loguin form {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	color: #F7931E;
}
.ui-widget-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #333;
opacity: 0.9;
filter: Alpha(Opacity=30)/*{opacityOverlay}*/;
}
#foro .ui-dialog {
padding: 0.2em;
position: absolute;

}
#foro .ui-draggable{
float:none;
padding: 0.2em;
position: absolute!important;
height: 20px!important;
}
#move{
width:330px;
height:90px!important;
margin-top:-20px;
margin-left:-20px;
float:left;
position:absolute;
}
.vota{
	float:left;
	width: 230px;
}
#rightforo{
	float:right;
	width: 499px;
	margin-top: 32px;
}
#leftvota {
     border-right: 1px dotted #999999;
    float: left;
    height: 470px;
    margin-left: 20px;
    margin-top: 20px;
    width: 246px;
}

#comments_tbl{
border-bottom: 1px dotted #999999;
    color: #5B5B5B;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    margin-left: 18px;
    width: 447px;
    margin-bottom:20px;
   
}
.coment{
	width:450px;
margin-left:19px;
}
#tbl_stars{
float:left;
}
.nom {
     color: #F7931E;
     font-family: raleway;
     font-size: 19px;
     margin-top: 10px;
     text-shadow: 1px 1px #FFFFFF;
     text-transform: uppercase;
}

.imatge {
     height: 170px;
}

.descripció {
     color: #8C8C8C;
     float: left;
     font-family: arial;
     font-size: 12px;
     font-weight: normal;
     height: 70px;
     margin-top: 5px;
     width: 230px;
}
.votplat {
     color: #8CC63F;
     font-family: raleway;
     font-size: 12px;
     margin-top: 10px;
     text-shadow: 1px 1px #FFFFFF;
     text-transform: uppercase;
     padding-bottom: 9px;
}

.imgvot {
     margin-bottom: 5px;
}

.votat {
    background-color: #D9E021;
    border: 1px solid #BDBBBB;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    cursor: pointer;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-left: 0;
    margin-top: 10px;
    padding: 10px;
text-transform:uppercase;
}
.votat:hover {
    background-color: #F7931E;
    border: 1px solid #BDBBBB;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    cursor: pointer;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-left: 0;
    margin-top: 10px;
    padding: 10px;
text-transform:uppercase;
}

#tablascroll {
     overflow-y: auto;
     height: 315px;
}
#comments_tbl tr{
 border-bottom:1px dotted #999;
}
.comenta{
	width:391px;
	 padding-bottom: 8px;
    padding-top: 8px;
}
.delet{
    text-align: right;
    width: 50px;
    vertical-align: middle;
}
.enviarcom{
	background-color: #D9E021;
    border: 1px solid #BDBBBB;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    cursor: pointer;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-left: 0;
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
}
.enviarcom:hover{
	background-color: #F7931E;
    border: 1px solid #BDBBBB;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    cursor: pointer;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-left: 0;
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
}
#degra{
	
    margin-top: -30px;
}
.tancarBot{
	background-color: #333;
    border: 1px solid #BDBBBB;
    border-radius: 3px 3px 3px 3px;
    color: #999;
    cursor: pointer;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-left: 0;
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
}
.tancarBot:hover{
	background-color: #f3f3f3;
    border: 1px solid #BDBBBB;
    border-radius: 3px 3px 3px 3px;
    color: #999;
    cursor: pointer;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-left: 0;
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
}
#star_punctuation{
	float: left;
    height: 108px;
    width: 230px;
}
.votat_close{
	 background-color: #999;
    border: 1px solid #BDBBBB;
    border-radius: 3px 3px 3px 3px;
    color: white;
    cursor: pointer;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-left: 0;
    margin-top: 10px;
    padding: 10px;
    text-transform:uppercase;
}
.votat_close:hover {
    background-color: #D9E021;
    border: 1px solid #BDBBBB;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    cursor: pointer;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-left: 0;
    margin-top: 10px;
    padding: 10px;
text-transform:uppercase;
}