/* css*/
body{
	background: url(../img/elements/bground.jpg) repeat;
}
/* links*/
a, .boton, .news, .tancarBot{
/* Firefox */
    -moz-transition-property: all;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: ease;
    -moz-transition-delay: 0s;
     

    /* Chrome / Safari */
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;
 
 
    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 0.2s;
    -o-transition-timing-function: ease;
    -o-transition-delay: 0s;
 
 
    /* Default */
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;

}

h2{
	font-size: 14px!important;
}
/* header*/
#header{
	background: url(../img/elements/header_background.png) repeat;
	height: 135px;
	width: 100%;
	border-bottom: 1px solid #cda781;
}
#int_header{
	width: 1000px;
	margin: auto;
	padding-top: 21px;
	
}
#int_left{
	width: 300px;
	float: left;
	margin-left: 2px;
}
#int_right{
	width: 500px;
	float: right;
	text-align: right;
	margin-top: 79px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #666666;
	font-size: 14px;
}
#int_right a{
	
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #666666;
	font-size: 14px;
}
#int_right a:hover{
	
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #F7931E;
	font-size: 14px;
}
#int_right li{
	display: inline;
	padding: 10px;
}
#int_right li img{
	margin-top: -5px;
	vertical-align:text-top;	
}
.last{
	margin-right: -10px;
}
/* container*/
#container{
	background: url(../img/elements/content_background.jpg) no-repeat;
	height: 780px;
}

#content{
	width: 1000px;
	margin: auto;
}
#ind #map_canvas{
	width:192px;
	float:left;
}
/*menu*/
#topmenu {
	padding-top: 30px;
	float: left;
	width: 800px;
}
#topmenutpv {
	float: left;
	width: 510px;
}
#topmenu a{
	
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #333333;
	font-size: 13px;
	text-shadow: 1px 1px #ffffff;
}
#topmenutpv a{
	
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #333333;
	font-size: 13px;
	text-shadow: 1px 1px #ffffff;
}
#topmenu a:hover{
	
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #F7931E;
	font-size: 13px;
	text-shadow: 1px 1px #ffffff;
}
#topmenutpv a:hover{
	
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #F7931E;
	font-size: 13px;
	text-shadow: 1px 1px #ffffff;
}
#topmenu li{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 15px;
	z-index: 503;
}
#topmenu li img{
	margin-top: -11px;
	vertical-align:text-top;	
}
#topmenu ul li {
    display: block;
    position: relative;
    float: left;
    white-space: nowrap;
}
#topmenu li ul {
    display: none;
    white-space: nowrap;
    margin-top: 27px;
}
#topmenu ul li a {
    text-decoration: none;
    text-transform: uppercase;
   
}

#topmenu li:hover ul {
    display: block;
    position: absolute;
}
#topmenu li:hover li {
    float: none;
    font-size: 11px;
    margin-left: -17px;
    
}

#topmenu  li:hover li a:hover {
    background: #F7931E;

}
#topmenu  li:hover li a {
    background-color:rgba(0,0,0,0.85);
    padding:15px;
    width: 138px;
    white-space: nowrap;
    display: block;
    margin: 0px;
    margin-top: -15px;
    text-shadow: none;
    color: white;
}
.confirm a  {
    background-color: #9fc465;
  	margin: -12px -12px 0 0px;
    padding: 15px !important;
    text-shadow: none;
}
.confirm a:hover {
    background-color: #F7931E;
    color: white!important;
    text-shadow: none!important;
    
}
.menuleft{
	padding-left: 10px !important;
}
#toplang{
	float: right;
	padding-top: 30px;
	width: 200px;
	text-align: right;
}
#toplang a{
	
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #333333;
	font-size: 13px;
	text-shadow: 1px 1px #ffffff;
}
#toplang a:hover{
	
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #F7931E;
	font-size: 13px;
	text-shadow: 1px 1px #ffffff;
}
#toplang li{
	display: inline;
	padding: 10px;
}
#toplang li img{
	margin-top: -11px;
	vertical-align:text-top;
	
}
/* slider*/
#slider{
	width: 1000px;
	height: 299px;
	float: left;
	margin-top: 30px;
	border: 1px solid rgb(207, 177, 143);
	-webkit-box-shadow: 0px 7px 26px 1px rgb(233, 209, 187);
    box-shadow: 0px 7px 26px 1px rgb(233, 209, 187);
}
/* seccion*/
#content_seccion{
	width: 1000px;
	margin: auto;
	padding-top: 20px;
	float: left;
	margin-bottom: 150px;
}
#seccion{
	width: 777px;
	margin: auto;
	padding-top: 20px;
	float: left;
	margin-left: 10px;
}
#rest{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #f4b271;
	font-size: 18px;
	float: left;
	width: 758px;
	font-size: 21px;
	height: 30px;
}
#addressOK {
    color: #999999;
    float: left;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    width:190px;
}
.gmnoprint{
	display:none;
}
#left{
	padding-top: 20px;
	float: left;
	width: 213px;
	margin-top: 23px;
}
#bar_left{
	width: 8px;
	float: left;
}
#bar_right{
	width: 192px;
	vertical-align: bottom;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #F7931E;
	font-size: 12px;
	text-shadow: 1px 1px #ffffff;
	margin-left: 11px;
	float: left;
	margin-top: 5px;
}
.inputs{
	height: 30px;
	margin-top: 4px;
	margin-bottom: 20px;
	margin-left: 0px;
	width: 189px;
	font-family: arial;
	color: #888;
}
.form{
	color: #666666;
}
.form{
	color: #666666;
}
.boton{
	padding: 10px;
	color: white;
	background-color: #9fc465;
	border: 1px solid #bdbbbb;
	margin-left: 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 12px;
	cursor: pointer;
	text-transform:uppercase;
}
.boton:hover{
	padding: 10px;
	color: white;
	background-color: #F7931E;
	border: 1px solid #bdbbbb;
	margin-left: 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 12px;
	cursor: pointer;
}
.img_Rest{
	width: 230px;
	height: 202px;
	float: left;
	-webkit-box-shadow:0 3px 8px 2px #E0C0A6;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    border:  1px solid #777;
    text-align: center;
}
.iterate_Rest{
	border-bottom: 1px solid #C69C6D;
	border-right:  1px solid #C69C6D;
	width: 246px;
	height: 322px;
	float: left;
	margin-right: 12px;
	webkit-box-shadow:0 3px 8px 2px #E0C0A6;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    box-shadow: 1px 1px 0 0 #FFFFFF;
    margin-bottom: 20px;
}
.titol_Rest{
	margin-top: 18px;
	color: #F7931E;
	font-size: 19px;
	width: 222px;
	float: left;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	
}
.titol_Rest_CLOSE{
	margin-top: 18px;
	color: #555;
	font-size: 19px;
	width: 222px;
	float: left;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	text-transform: uppercase;

}
.cos_Rest{
	margin-top: 5px;
	color: #5B5B5B;
	font-size: 12px;
	font-family: arial;
	font-weight: normal;
	width: 230px;
	float: left;
}
.cos_Rest_CLOSE{
	margin-top: 5px;
	color: #999;
	font-size: 12px;
	font-family: arial;
	font-weight: normal;
	width: 230px;
	float: left;
}
.entrar {
	padding: 10px;
	color: #333;
	background-color: #9fc465;
	border: 1px solid #bdbbbb;
	margin-left: 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 12px;
	cursor: pointer;
	margin-top: 69px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
}
.entrar_in {
	padding: 10px;
	color: #333;
	background-color: white;
	border: 1px solid #bdbbbb;
	margin-left: 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 12px;
	cursor: pointer;
	margin-top: 69px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
}
.entrar_CLOSE{
	padding: 10px;
	color: white;
	background-color: #999;
	border: 1px solid #bdbbbb;
	margin-left: 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 12px;
	cursor: pointer;
	margin-top: 69px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
}
.entrar:hover, .entrar_in:hover{
	padding: 10px;
	color: white;
	background-color: #F7931E;
	border: 1px solid #bdbbbb;
	margin-left: 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 12px;
	cursor: pointer;
	margin-top: 69px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.entrar_CLOSE:hover{
	padding: 10px;
	color: white;
	background-color: #777;
	border: 1px solid #bdbbbb;
	margin-left: 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 12px;
	cursor: pointer;
	margin-top: 69px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
}
.prova{
	margin-top: 5px;
	width: 111px;
	float: left;
}
.separador{
	width: 229px;
	background-color: #FFF; 
	border: 1px dotted #666; 
	border-style: none none dotted;
	margin-top: 10px;
	margin-bottom: 10px;
}
::selection {
background: #F7931E;
-webkit-box-shadow:none;
    box-shadow: none;
    color: black;
}

::-moz-selection {
background: #F7931E;
-webkit-box-shadow:none;
    box-shadow: none;
    color: black;
}
.estrelles_rest{
	margin-top: 21px;

}
.enter{
	margin-top: 82px;
}
#form_arribem{
	margin-bottom: 20px;
}
.menu_general a{
	color: #333;
}
.menu_general a:hover{
	color: #3FA9F5;
}
#footer{
	background-color: #333333;
    border-top: 1px solid #000000;
    float: left;
    height: 460px;
    margin: auto;
    width: 100%;
}
.news{
	background: url("http://www.alexmany.com/provas/html/img/elements/entrar.png") no-repeat scroll 0 0 transparent;
	width: 30px;
	height: 35px;
	background-color: #B7B7B7;
	border: none;
	margin-left: -4px;
	cursor:pointer;
}
.news:hover {
	background: url("http://www.alexmany.com/provas/html/img/elements/entrar.png") no-repeat scroll 0 0 transparent;
	width: 30px;
	height: 35px;
	background-color: #F7931E;
	border: none;
	margin-left: -4px;
	cursor: pointer;
}
.newsin{
	width: 157px;
	height: 30px;
	margin-top: 4px;
	margin-bottom: 20px;
	margin-left: 0px;
	color:#888888;
}
#newsletter{
	margin-top: 20px;
}
#credits{
	background-color: #222;
	height: 30px;
	float: left;
	width: 100%;
}
#int_credits{
	margin: auto;
	width: 1000px;
	height: 10px;
	color: #888;
	padding-top: 9px;
	font-family: arial;
	font-size: 12px;
}
#footer_int{
	margin: auto;
	width: 1000px;
	height: 10px;
	color: #888;
	padding-top: 9px;
	font-family: arial;
	font-size: 12px;
}
#footer_rigth {
    float: right;
    
    width: 320px;
}
/* restaurants////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#restaurants .titol_Rest{
	margin-top: 18px;
	color: #F7931E;
	font-size: 18px;
	width: 222px;
	}
#restaurants .iterate_Rest{
	border-bottom: 1px solid #C69C6D;
	border-right:  1px solid #C69C6D;
	width: 246px;
	height: 513px;
	float: left;
	margin-right: 12px;
	webkit-box-shadow:0 3px 8px 2px #E0C0A6;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    box-shadow: 1px 1px 0 0 #FFFFFF;
    margin-bottom: 20px;
}
#restaurants .img_Rest{
	width: 230px;
	height: 152px;
	float: left;
	-webkit-box-shadow:0 3px 8px 2px #E0C0A6;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    border:  1px solid #777;
    text-align: center;
}
.sep{
	border-top:  1px solid #C69C6D;
	border-bottom: none;
	border-right: none;
	border-left: none;
	margin-top:23px; 
	webkit-box-shadow:0 3px 8px 2px #E0C0A6;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    box-shadow: 1px 1px 0 0 #FFFFFF;
    width: 246px;
    float: left;
}
#restaurants .estrelles_rest{
	margin-top: 3px;
	margin-bottom: 10px;
}

.more{
	color: #3FA9F5;
}
.more:hover{
	color: #F7931E;
}
.price{
	background-color: white;
    border: 1px solid #BDBBBB;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-left: 0;
    margin-top: 69px;
    padding: 10px;
}
.coments{
	font-family: arial;
	font-size: 12px;
	color: #A67C52;
	float: left;
	margin-top: 1px;
	width: 234px;
}
.coments_titol{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #9fc465;
}
.left_price{
	float: left;
}
.right_price{
	float:right;
	margin-top: 0px;
}
#afegir{
	float: left;
	height: 30px;
	width: 232px;
}
#restaurants .cos_Rest{
	margin-top: 5px;
	color: #5B5B5B;
	font-size: 12px;
	font-family: arial;
	font-weight: normal;
	width: 230px;
	float: left;
	height: 56px;
}
#restaurants .cos_Rest_CLOSE{
	margin-top: 5px;
	color: #999;
	font-size: 12px;
	font-family: arial;
	font-weight: normal;
	width: 230px;
	float: left;
	height: 56px;
}

#restaurants .img_Rest_CLOSE{
	width: 230px;
	height: 152px;
	float: left;
	-webkit-box-shadow:0 3px 8px 2px #E0C0A6;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    border:  1px solid #777;
    text-align: center;
    filter: url(../img/elements/desaturate.svg#grayscale); /* Firefox 3.5+ */
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
filter: Gray(); /* IE4-8 and 9 */
}
#restaurants .format{
	height: 140px;
	float:left;
}
.selector{
	width: 777px;
	float: right;
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #666666;
	font-size: 12px;
}
.selector a{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #4D4D4D;
	font-size: 12px;
}
.selector a:hover{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #3FA9F5;
	font-size: 12px;
}
.selector a.selec{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #3FA9F5;
	font-size: 12px;
}
.selector li{
	display: inline;
	padding: 10px;
}
.sep2{
	border-top:  1px solid #C69C6D;
	border-bottom: none;
	border-right: none;
	border-left: none; 
	webkit-box-shadow:0 3px 8px 2px #E0C0A6;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    box-shadow: 1px 1px 0 0 #FFFFFF;
    width:767px;
    float: left;
    margin-bottom: 15px;
}
#restaurants #rest {
    color: #F4B271;
    float: left;
    font-family: 'Raleway',sans-serif;
    font-size: 21px;
    font-weight: 800;
    height:22px;
    width: 758px;
    text-transform: uppercase;
}
#carreta{
	width: 191px;
	background:rgba(255,255,255,0.50);
	height: 100%;
	border: 1px solid #E2E2E2;
}
.car_int{
	margin: 14px;
	color: #808080;
	font-size: 16px;
}
.sep3{
	border-top:  1px solid #E2E2E2;
	border-bottom: none;
	border-right: none;
	border-left: none; 
	webkit-box-shadow:0 3px 8px 2px #E0C0A6;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    box-shadow: 1px 1px 0 0 #FFFFFF;
    width:191px;
    float: left;
    margin-bottom: 15px;
    margin-top: 0px;
}
#restaurants #bar_right{
	width: 192px;
	vertical-align: bottom;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #F7931E;
	font-size: 12px;
	text-shadow: 1px 1px #ffffff;
	margin-left: 11px;
	float: left;
	margin-top: 0px;
}
.car_pro{
	margin: 14px;
	color: #808080;
	font-size: 12px;
	font-family: arial;
	font-weight: normal;
}
.plats{
	color: #B3B3B3;
}
.car_sub{
	color: #333;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 19px;
	text-align: center;
	margin-bottom: 30px;
}
.btn_conf{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	background-color: #9fc465;
	border: 1px solid #bdbbbb;
	margin-left: 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 12px;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	margin-bottom: 15px;
	text-shadow:none;
}
.btn_conf:hover{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	background-color: #F7931E;
	border: 1px solid #bdbbbb;
	margin-left: 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 12px;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	margin-bottom: 15px;
	text-shadow:none;
}
.hora{
	color: #333;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 12px;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 15px;
	padding-bottom: 20px;
	text-shadow:none;

}
.hora_int{
	font-size: 19px;
}
#ben{
	font-family: Arial;
	color: #333;
	width: 500px;
	float: right;
	text-align: right;
	font-size: 14px;
}
#ben a{
	color: #3FA9F5;
	font-size: 14px;
}
#ben li{
	display: inline;
	padding: 10px;
}
#ben li img{
	margin-top: -5px;
	vertical-align:text-top;	
}
#pagination{
	margin: 10px 0;
    text-align: center;
    float: left;
    width: 764px;
}
#pagination a{
    font-family: arial;
    color: #888;
    font-size: 11px;
    background-color: white;
    border: 1px solid #E2E2E2;
    border-radius: 2px 2px 2px 2px;
    padding: 4px 12px;
}
#pagination a:hover{
    color: #333;
    border: 1px solid #333;
    border-radius: 2px 2px 2px 2px;
    padding: 4px 12px;
}
ul.pagination li {
    display: inline;
}
#prev{
	float: left;
}
#next{
	float: right;
}


/* Login////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#recordatori {
    float: left;
    height: 240px;
    width: 1000px;
}
#carrito .iterate_Rec {
    border-right: 1px solid #777777;
    float: left;
    height: 241px;
    margin-bottom: 0;
    margin-right: 0;
    width: 230px;
}
#carrito .img_Rest {
    border: medium none;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    float: left;
    height: 152px;
    text-align: center;
    width: 230px;
}
#carrito .format {
    float: left;
    height: 37px;
    padding-left: 10px;
    padding-right: 10px;
}
#carrito .titol_Rest {
    color: #F7931E;
    float: left;
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    font-weight: 800;
    margin-top: 11px;
    text-align: center;
    width: 220px;
    height: 34px;
}
#carrito #afegir {
    float: left;
    height: 25px;
    margin-top: 6px;
    padding: 10px;
    text-align: center;
    width: 212px;
}
#preus {
    float: left;
    width: 1000px;
    margin-top:-1px;
}

#formpreus {
    float: left;
    margin-top: 50px;
    width: 1000px;
}
#order {
    width: 100%;
}
.titols_comanda {
   border:1px solid #BCBCBC;
    background-color:rgba(230,230,230,0.65);
    border-color:1px solid  #bcbcbc;
    float: left;
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    font-weight: 800;
    height: 15px;
    margin-top: 57px;
    padding: 13px;
    text-transform: uppercase;
}
.titolars {
    background-color: #e6e6e6;
    font-family: 'Raleway',sans-serif;
    font-size: 13px;
    font-weight: 800;
    padding: 14px 10px;
}
.pro {
    width: 84px;
    border-left: 1px solid #ADADAD;
}
.des {
    width: 407px;
}
.descri {
    font-family: arial;
    font-size: 11px;
    padding: 10px;
    vertical-align: middle;
}
.pre {
    width: 110px;
}
.can {
    width: 64px;
}
.tot {
    width: 64px;
}
.elm {
}
.preusun {
    font-family: arial;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
}
.trans {
    color: #9B9B9E;
    font-family: 'Raleway',sans-serif;
    font-size: 13px;
    font-weight: 800;
    padding: 10px;
    text-align: right;
    vertical-align: middle;
}
.mores {
    background-color: #333333;
    border: 1px solid #BDBBBB;
    color: white;
    cursor: pointer;
    font-family: ARIAL;
    font-size: 13px;
    margin-left: 0;
    padding: 0;
}
.mores:hover {
    background-color: #F7931E;
    border: 1px solid #BDBBBB;
    color: white;
    cursor: pointer;
    font-family: ARIAL;
    font-size: 13px;
    margin-left: 0;
    padding: 0;
}
.canti {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
}
.total {
    font-family: arial;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
}
.elimi {
    text-align: center;
    vertical-align: middle;
}
.elimin {
    background-color: #333333;
    border: 1px solid #BDBBBB;
    color: white;
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
    padding: 9px 11px;
    text-align: center;
    vertical-align: middle;
}
.elimin:hover {
    background-color: #F7931E;
    border: 1px solid #BDBBBB;
    color: white;
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
    padding: 9px 11px;
    text-align: center;
    vertical-align: middle;
}
.tb {
    background-color: #F2F2F2;
}

.tb td {
    background-color: #F9F9F9;
    border-bottom: 1px solid #BCBCBC;
    border-left: 1px solid #BCBCBC;
    border-right: 1px solid #BCBCBC;
}
.tit {
    color: #F7931E;
    font-family: 'Raleway',sans-serif;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
}
#dialog_confirm {
    background-color: #F2F2F2!important;
    width: 300px !important;
    height: 266px!important;
    top:100px;
    position:fixed;
     
}

#confirmOn {
    font-family: raleway;
    font-size: 16px !important;
    font-weight: bold;
    height: 53px !important;
    padding-left: 40px;
    padding-top: 41px;
    text-transform: uppercase;
    width: 241px;
}

#dialog_confirm .boton{        
     margin-right:20px;
     margin-top:10px;
    text-transform:uppercase;
}
.ui-widget-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #333;
opacity: 0.9;
filter: Alpha(Opacity=30)/*{opacityOverlay}*/;
}
.ui-dialog {
padding: 0.2em;
position: absolute;
}
.sepa{
	margin-right: 15px;
}
.numca{
	height: 30px;
	margin-top: 4px;
	margin-bottom: 20px;
	margin-left: 0px;
	width: 30px;
	font-family: arial;
	color: #888;
}
.posta{
	height: 30px;
	margin-top: 4px;
	margin-bottom: 20px;
	margin-left: 0px;
	width: 110px;
	font-family: arial;
	color: #888;
}
.myform th{
	text-align: left;
	color: #F7931E;
    font-family: 'Raleway',sans-serif;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
}

/* comanda////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.checked {
     background-color: #8CC63F ! important;
    border: 1px solid white;
     color: black;
   
     padding: 10px;
}

.check {
     background-color: #F7931E ! important;
     border: 1px solid white;
     color: white;
     font-weight: normal;
     padding: 10px;
}

.notcheck {
     background-color: #d3d3d3 ! important;
    border: 1px solid white;
     color: white;
     font-weight: normal;
     padding: 10px;
}


/* refresc////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#refresc .img_Rest{
	width: 169px;
	height: 112px;
	float: left;
	-webkit-box-shadow:0 3px 8px 2px #E0C0A6;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    border:  1px solid #777;
    text-align: center;
}
#refresc #afegir{
	float: left;
	height: 30px;
	width: 170px;
}
#refresc .titol_Rest{
	margin-top: 18px;
	color: #F7931E;
	font-size: 18px;
	width: 170px;
	float: left;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#refresc .iterate_ref{
	width: 175px;
	height: 206px;
	float: left;
	margin-right: 12px;
    margin-bottom: 4px;
    margin-top: 9px;
    border-bottom: 1px solid #C69C6D;
	border-right:  1px solid #C69C6D;
}

#begudes_titol{
	color: #333;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 12px;
	float: left;
	margin-top: 30px;
}
.sep4{
	border-top:  1px solid #E2E2E2;
	border-bottom: none;
	border-right: none;
	border-left: none;
	webkit-box-shadow:0 3px 8px 2px #E0C0A6;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    box-shadow: 1px 1px 0 0 #FFFFFF;
    float: left;
    margin-left: 0px;
    margin-top: 7px;
    width: 765px;
}
.separadora{
	border-right: 1px solid #E2E2E2;
    float: left;
    margin-left: 0px;
    margin-top: -10px;
    width: 2px;
    height: 449px;
    margin-right: 16px;
}
#topmenu li:hover .tancat a {
     background-color: #777777;
     color: white;
     display: block;
     margin: -15px 0px 0px;
     padding: 15px;
     text-shadow: 1px 1px #333333;
     white-space: nowrap;
     width: 138px;
}
#topmenu li:hover .tancat a:hover {
    background-color: #777;
    color: white;
    display: block;
    margin: -15px 0 0;
    padding: 15px;
    text-shadow: 1px 1px #333;
    white-space: nowrap;
    width: 138px;
}
.iterate_ref{
	border-bottom: 1px solid #C69C6D;
    border-right: 1px solid #C69C6D;
    box-shadow: 1px 1px 0 0 #FFFFFF;
    float: left;
    height: 425px;
    margin-bottom: 20px;
    margin-right: 12px;
    width: 246px;
   
}
.dades{
	font-family: raleway;
     text-transform: uppercase;
     font-weight:800;
     background-color: white;
     padding:10px;
     border:1px solid #c3c3c3;
     color:#333;
     margin-top:20px;
}
#droppable .selector_jq {
     margin-left: -90px;
     margin-top: -300px;
     width: 50px;
}
#carrito #slider{
	height: 234px;
	border-left: none;
	border-right: 1px solid #BCBCBC;
	border-bottom: 1px solid #BCBCBC;
	border-top: 1px solid #BCBCBC;
    box-shadow: none;
    background-color: #f9f9f9;
}
#iterate_Rec{
width:220px;
float:left;
height:234px;
}

#carrito #slider li {
   
    border-left: 1px solid #BCBCBC;
   
    width: 220px;
}
#carrito .price {
    background-color: white;
    border: 1px solid #BDBBBB;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-right: 20px;
    margin-top:20px;
    padding: 10px;
}
#carrito .draggable{
	position: relative;
	border-bottom:1px solid #BCBCBC;
	
}

#carrito .left_price {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
#carrito .right_price {
    float: right;
    margin-top: 20px;
}
.sep10{
	border-top:  1px dotted #bcbcbc;
	border-bottom: none;
	border-right: none;
	border-left: none;
	margin-top:33px; 
    width: 1000px;
    float: left;
}
.titols_comanda2 {
   border:1px solid #BCBCBC;
    background-color:rgba(230,230,230,0.65);
    border-color:1px solid  #bcbcbc;
    float: left;
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    font-weight: 800;
    height: 15px;
    margin-top: 6px;
    padding: 13px;
    text-transform: uppercase;
}
#order tr{
border:1px solid #bcbcbc;
}

#carrito #formlo {
    background-color: #F9F9F9;
    border: 1px solid #BCBCBC;
    color: #666666;
    font-family: raleway;
    font-size: 12px;
    font-weight: bold;
    height: 65px;
    margin-top: -1px;
    padding-left: 20px;
    padding-top: 20px;
    text-transform: uppercase;
    width: 1000px;
    float:left;
}

.sep11{
	border-top:  1px dotted #bcbcbc;
	border-bottom: none;
	border-right: none;
	border-left: none;
	margin-top:15px; 
    width: 1000px;
    float: left;
}
#carrito #formlo tbody {
   padding-right:20px;
   padding-bottom:20px;
   padding-top:20px;
   float:left;
}
#carrito .inputs {
    color: #888888;
    font-family: arial;
    height: 30px;
    margin-left: 0;
    margin-top: 4px;
    width: 189px;
    margin-bottom:0px;
}
#carrito .myform td{
	text-align: left;
	color: #F7931E;
    font-family: 'Raleway',sans-serif;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
}
#carrito #formlo tbody td{
   padding-left:20px;
   padding-rightt:20px;
   vertical-align:middle;
}
#checkPromocionsDisponibles{
	background-color: #F9F9F9;
    border: 1px solid #BCBCBC;
    color: #666666;
    font-family: raleway;
    font-size: 12px;
    font-weight: bold;
    height: 65px;
    margin-top: -1px;
    padding-left: 20px;
    padding-top: 20px;
    text-transform: uppercase;
    width: 1000px;
    float:left;
}
#deletePromoApplied{
	background-color: #F9F9F9;
    border: 1px solid #BCBCBC;
    color: #666666;
    font-family: raleway;
    font-size: 12px;
    font-weight: bold;
    height: 65px;
    margin-top: -1px;
    padding-left: 20px;
    padding-top: 20px;
    text-transform: uppercase;
    width: 1000px;
    float:left;
}
#on {
    background-color: #F9F9F9;
    border: 1px solid #BCBCBC;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
    width: 960px;
    color:#666666;
    margin-top:-1px;
}
.inter_put{
	width:121px;
	float:left;
	 font-family: raleway;
    font-size: 12px;
}

.inter_put2 {
    float: left;
    margin-left: 30px;
    width: 140px;
     font-family: raleway;
    font-size: 12px;
}

.days {
    margin-left: 3px;
    margin-top: 10px;
}
#dia {
    color: #F7931E;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-top: 10px;
    padding-left: 7px;
    width: 93px;
}
.inde{
	margin-bottom:20px;
	
}
#llencadorData1{
margin-top:-5px;
vertical-align:middle;
 font-family: raleway;
    font-size: 12px;
}
.horh{
	margin-bottom:10px;
}

#on #leftcom {
    border-right: 1px solid #E2E2E2;
    float: left;
    margin-right: 20px;
    width: 318px;
    webkit-box-shadow:0 3px 8px 2px #FFFFFF;
    box-shadow: 0 3px 8px 2px #FFFFFF;
    box-shadow: 1px 1px 0 0 #FFFFFF;
}
#on #rightcom {
    float: left;
    font-family: raleway;
    font-size: 12px;
    width: 222px;
    margin-top:6px;
}
#on #rightright {
    
    float: left;
    font-family: raleway;
    font-size: 12px;
    height: 290px;
   padding-top: 21px;
    padding-left: 20px;
    width: 373px;
     webkit-box-shadow:0 3px 8px 2px #FFFFFF;
    box-shadow: 0 3px 8px 2px #FFFFFF;
    box-shadow: 1px 1px 0 0 #FFFFFF;
     border-left: 1px solid #E2E2E2;
      
}
.sep13{
	border-top:  1px solid #E2E2E2;
	border-bottom: none;
	border-right: none;
	border-left: none; 
	webkit-box-shadow:0 3px 8px 2px #FFFFFF;
    box-shadow: 0 3px 8px 2px #FFFFFF;
    box-shadow: 1px 1px 0 0 #FFFFFF;
    width:300px;
    float: left;
    margin-bottom: 15px;

}

#carrito .inputs{
	height: 30px;
	margin-top: 4px;
	margin-bottom: 10px;
	margin-left: 0px;
	width: 196px;
	font-family: arial;
	color: #888;
}
#carrito .inputs_short{
	height: 30px;
	margin-top: 4px;
	margin-bottom: 20px;
	margin-left: 0px;
	width: 30px;
	font-family: arial;
	color: #888;
}
#carrito .inline{
	float: left;
	width: 60px;
}
#carrito .inline2{
	float: left;
	width: 160px;
}
#carrito .maps{
	border: 1px solid #D6D6D6;
    float: left;
    height: 649px;
    margin-top: 119px;
    width: 641px;
   
}
#carrito .tab{
	padding-bottom:20px;
}
#pagar{
    background-color: #F9F9F9;
    border: 1px solid #BCBCBC;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
    width: 960px;
    color:#666666;
    margin-top:-1px;
    margin-bottom: 40px;
}
#alertOn {
    color: #4D4D4D;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-weight: 800;
    margin: 26px auto auto;
    padding: 20px;
    text-align: left;
    text-transform: uppercase;
    width: 230px;
}
#dialog_alert{
	background-color: #f2f2f2;
    position: fixed;
    text-align: left;
    top:100px;
	}
.dele{
	float:right;
}

.big_img{
    margin-left: 4px;
    position: relative;
    top: -146px;
    width: 20px;;
}
#imageBig {
	top:100px;
    position:fixed;
}
.tancarBot{
	background-color: #f3f3f3;
    border: 1px solid #BDBBBB;
    border-radius: 3px 3px 3px 3px;
    color: #999;
    cursor: pointer;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-left: 0;
    margin-top: -7px;
    padding: 10px;
    text-transform: uppercase;
    float:right;
}
.tancarBot:hover{
	background-color: #333;
    border: 1px solid #BDBBBB;
    border-radius: 3px 3px 3px 3px;
    color: #999;
    cursor: pointer;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-left: 0;
    margin-top: -7px;
    padding: 10px;
    text-transform: uppercase;
}
.al_top {
    color: #4D4D4D;
    font-family: 'Raleway',sans-serif;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-top: 40px;
    width: 236px;
}
.al_com {
    color: #4D4D4D;
    font-family: 'Raleway',sans-serif;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-top: 40px;
    width: 465px;
}
.sep19{
	border-top:  1px solid #D6D6D6;
	border-bottom: none;
	border-right: none;
	border-left: none;; 
	webkit-box-shadow:0 3px 8px 2px #E0C0A6;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    box-shadow: 1px 1px 0 0 #FFFFFF;
    margin-left: -20px;
    width: 330px;
    float: left;
}
.sep20{
	border-top:  1px solid #D6D6D6;
	border-bottom: none;
	border-right: none;
	border-left: none;; 
	webkit-box-shadow:0 3px 8px 2px #E0C0A6;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    box-shadow: 1px 1px 0 0 #FFFFFF;
    margin-left: -20px;
    width: 557px;
    float: left;
}
#tableCons{
	margin-left: 40px;
	
}
#dialog_promo{
	background-color: #f2f2f2!important;
    position: fixed;
    text-align: left;
    top:100px;
	
}

#promosCom {
    color: #333333;
    font-family: raleway;
    font-size: 11px;
    font-weight: bold;
    padding: 40px;
    text-transform: uppercase;
}
.titleCom {
    color: #F7931E;
    font-family: raleway;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#prm, #prm a {
    color: #9fc465 !important;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:15px;
    font-family: raleway;
    font-weight: bold;
}
#prm li {
    margin-bottom:10px;
    
}
#prm a:hover {
    color: #F7931E !important;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:15px;
    font-family: raleway;
    font-weight: bold;
    font-weight: 14px;
}
#indexPor #error {
    color: #999999;
    float: left;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
}

#footer_left {
    border-right: 1px solid #222222;
    float: left;
    height: 450px;
    padding-right: 25px;
    padding-top: 25px;
    width: 290px;
    webkit-box-shadow:0 3px 8px 2px #4D4D4D;
    box-shadow: 0 3px 8px 2px #4D4D4D;
    box-shadow: 1px 1px 0 0 #4D4D4D;
    line-height: 15px;
}
#footer_center {
    border-right: 1px solid #222222;
    float: left;
    height: 425px;
    margin-right: 0;
    padding: 25px;
    width: 290px;
    webkit-box-shadow:0 3px 8px 2px #4D4D4D;
    box-shadow: 0 3px 8px 2px #4D4D4D;
    box-shadow: 1px 1px 0 0 #4D4D4D;
}
.big_img{
    margin-left: 4px;
    position: relative;
    top: -146px;
    width: 20px;;
}
#imageBig {
	top:100px;
    position:fixed;
	background-color:white!important;
	height:324px!important;
}
#imageBig2 {
	background-color:white!important;
	padding:10px;
}
.colose{
font-family:arial;
color:#888;
font-weight:bold;
padding:3px;
}
.colose:hover{
font-family:arial;
color:#888;
font-weight:bold;
padding:3px;
}
#circle{
float:right;
-webkit-border-radius: 10%;
-moz-border-radius: 10%;
border-radius: 10%;
background-color:white;
float: right;
    margin-right: -1px;
    margin-top: -43px;
    padding: 10px
}
#circle:hover{
float:right;
-webkit-border-radius: 10%;
-moz-border-radius: 10%;
border-radius: 10%;
background-color:#333;
float: right;
    margin-right: -1px;
    margin-top: -43px;
    padding: 10px
}
.alergia{
	float:left;
	width:40px;
	margin-right: 7px;
}
.titsep {
    color: #333333;
    float: left;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 13px;
    width: 230px;
}
.sep23{
	border-top:  1px solid #C69C6D;
	border-bottom: none;
	border-right: none;
	border-left: none;
	margin-top:10px; 
	webkit-box-shadow:0 3px 8px 2px #E0C0A6;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    box-shadow: 1px 1px 0 0 #FFFFFF;
    width: 246px;
    float: left;
}
.promocions_peso {
     font-weight: bold;
     text-transform: uppercase;
}

#promocionsdiv {
     margin-left: 20px;
     margin-top: 20px;
}

.prom_int {
     float: left;
     margin-bottom: 40px;
}
.promosImg {
    float: left;
    font-family: arial;
    font-size: 12px;
    margin-right: 21px;
    text-align: center;
    width: 216px;
}
.reftit {
    color: #F7931E;
    font-family: raleway !important;
    font-size: 18px;
    font-weight: 800 !important;
    text-transform: uppercase;
}
#headertpv {
    background: url("../../img/elements/header_background.png") repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CDA781;
    height: 135px;
    width: 100%;
}
#tpv  {
    background: url("../../img/elements/bground.jpg") repeat scroll 0 0 transparent;
}
#iframe {
    background-color: white;
    border: 1px solid #C3C3C3;
    margin-bottom: 110px;
    padding-top: 60px;
}
.containertpv{
	width:1000px;
	margin: auto;
	margin-top:90px;
}
.final{
	width:100%;
	float:left;
	font-family:raleway;
	font-size:bolder;
}
#restaurants .iterate_Rest_r{
	border-bottom: 1px solid #C69C6D;
	border-right:  1px solid #C69C6D;
	width: 246px;
	height: 425px;
	float: left;
	margin-right: 12px;
	webkit-box-shadow:0 3px 8px 2px #E0C0A6;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    box-shadow: 1px 1px 0 0 #FFFFFF;
    margin-bottom: 20px;
}
#restaurants .comentss{
	font-family: arial;
	font-size: 12px;
	color: #A67C52;
	float: left;
	margin-top: 14px;
}
.espai  .inputs {
    color: #888888;
    font-family: arial;
    height: 30px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    width: 189px;
}
.espai {
    float: left;
    padding-bottom: 10px;
}
#pass {
font-family:raleway;
font-weight:bold;
text-transform:uppercase;
font-size:13px;
color:#333;
}
.s2 {
    border-color: #222222 -moz-use-text-color -moz-use-text-color;
    border-style: solid none none;
    border-width: 1px medium medium;
    float: left;
    margin-bottom: 17px;
    margin-top: 17px;
    width: 290px;
    webkit-box-shadow:0 3px 8px 2px #4D4D4D;
    box-shadow: 0 3px 8px 2px #4D4D4D;
    box-shadow: 1px 1px 0 0 #4D4D4D;
}