
.boton{ padding: 10px; color: white; background-color: #9fc465; border: 1px solid #bdbbbb; margin-left: 0px; font-family: 'Raleway', sans-serif; font-weight: 800; font-size: 12px; cursor: pointer; } {
}
.boton:hover{ padding: 10px; color: white; background-color: #F7931E; border: 1px solid #bdbbbb; margin-left: 0px; font-family: 'Raleway', sans-serif; font-weight: 800; font-size: 12px; cursor: pointer; } {
}
.inputs{ height: 30px; margin-top: 4px; margin-bottom: 20px; margin-left: 0px; width: 189px; font-family: arial; color: #888; } {
}
a, .boton, .news{ /* Firefox */ -moz-transition-property: all; -moz-transition-duration: 0.2s; -moz-transition-timing-function: ease; -moz-transition-delay: 0s; /* Chrome / Safari */ -webkit-transition-property: all; -webkit-transition-duration: 0.2s; -webkit-transition-timing-function: ease; -webkit-transition-delay: 0s; /* Opera */ -o-transition-property: all; -o-transition-duration: 0.2s; -o-transition-timing-function: ease; -o-transition-delay: 0s; /* Default */ transition-property: all; transition-duration: 0.2s; transition-timing-function: ease; transition-delay: 0s; } {
}
#light{
	background-color: #F2F2F2;
    border: 1px solid #c5c5c5;
    height: 370px;
    margin:80px auto;
    width: 330px;
}
#login_dialog #light{
	background-color: #F2F2F2;
    border: 1px solid #111;
    height: 400px;
    margin: -3px auto;
    width: 330px;
    position: fixed;
    -webkit-box-shadow: 0px 7px 26px 1px rgb(1, 17, 17);
    box-shadow: 0px 7px 26px 1px rgb(1, 17, 17);
}
#login_dialog{
	top:100px;
	position:fixed;
}
#light_int{
	padding: 20px;
	font-weight: 800;
}
.light_body{
	padding: 20px;
	margin-top: 20px;
}
.light_top{
	color: #4D4D4D;
	font-family: 'Raleway', sans-serif;
	padding: 20px;
	font-weight: 800;
	font-size: 24px;
}
.sep5{
	border-top:  1px solid #D6D6D6;
	border-bottom: none;
	border-right: none;
	border-left: none;; 
	webkit-box-shadow:0 3px 8px 2px #E0C0A6;
    box-shadow: 0 3px 8px 2px #E0C0A6;
    box-shadow: 1px 1px 0 0 #FFFFFF;
    margin-left: -20px;
    width: 330px;
    float: left;
}
#form_loguin h2{
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
}
#form_loguin {
	font-family: 'Raleway', sans-serif;
}
#form_loguin form {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	color: #F7931E;
}
.ui-widget-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #111;
opacity: 0.8;
filter: Alpha(Opacity=30)/*{opacityOverlay}*/;
}
#light .ui-dialog {
padding: 0.2em;
position: absolute;

}
#light .ui-draggable{
float:none;
padding: 0.2em;
position: absolute!important;
height: 20px!important;
}
#move{
width:251px;
height:90px!important;
margin-top:-20px;
margin-left:-20px;
float:left;
position:absolute;
}
.forgot{
    background-color: #D3D3D3;
    color: #999999 !important;
    float: left;
    font-family: arial;
	font-weight: normal;
    margin-top: 29px;
    padding: 6px;
    font-size: 13px;
}
.forgot:hover{
    background-color: #F7931E;
    color: #333 !important;
    float: left;
    font-family: arial;
    font-weight: normal;
    margin-top: 29px;
    padding: 6px;
    font-size: 13px;
}
#recover{
	background-color: #F2F2F2;
    border: 1px solid #c5c5c5;
    height: 370px;
    margin:80px auto;
    width: 330px;
}
#recover_int{
	padding: 20px;
	font-weight: 800;
}
#recover_top{
	color: #4D4D4D;
	font-family: 'Raleway', sans-serif;
	padding: 20px;
	font-weight: 800;
	font-size: 24px;
}
#recover_body{
	padding: 20px;
	margin-top: 20px;
}

.tdLabel {
    color: #F7931E;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    text-transform:uppercase;
}
#recovery{
	background: url(../img/elements/bground.jpg) repeat;
}