.ui-menu {
     display: block;
     float: left;
     list-style: none outside none;
     margin: 0px;
     padding: 2px;
}

.ui-menu .ui-menu {
     margin-top: -3px;
}

.ui-menu .ui-menu-item {
     clear: left;
     float: left;
     margin: 0px;
     padding: 0px;
     width: 100%;
}

.ui-menu .ui-menu-item a {
     display: block;
     line-height: 1.5;
     padding: 0.2em 0.4em;
     text-decoration: none;
}

.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
     font-weight: normal;
     margin: -1px;
}

.ui-selectable-helper {
     border: 1px dotted black;
     position: absolute;
     z-index: 100;
}

.ui-widget-content {
     background: none repeat scroll 0px 0px white;
     border: 1px solid #f1f1f1;
     color: #222222;
     width:100px;
}

.ui-widget-content a {
     color: #999999;
     font-family: arial;
     font-size: 13px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
     background: #F7931E;
     color: #212121;
     font-weight: normal;
     cursor:pointer;
}
