.dataTables_scroll {
     background-color: white;
     border: 1px solid #D3D3D3;
     margin-top: 30px;
     width: 955px;
}

.odd {
     background-color: #F5F5F5;
     border: 1px solid #E3E3E3;
}

#personal td {
  
}

.dataTables_scrollHead {
     background-color: #e6e6e6;
     width: 650px;
}

TABLE.dataTable THEAD TR TH {
     color: #424242;
     font-family: raleway;
     font-size: 13px;
     font-weight: bold;
     padding: 10px;
     text-align: left;
     text-transform: uppercase;
     width: 650px;
     z-index: 11;
}

TABLE.dataTable TD {
     font-family: raleway;
     font-size: 13px;
     padding-bottom: 10px;
     padding-left: 20px;
     padding-top: 10px;
     text-transform: uppercase;
     vertical-align: middle;
     font-weight:bold;
     color:#F7931E;
     line-height: 22px;
}

#personal #taula tr:hover {
     background-color: #F7C99A;
}

.dataTables_scrollHeadInner {
     padding: 10px;
}

#tbl_comandes_user_length {
     display: none;
}

#tbl_comandes_user_filter {
     display: none;
}

#tbl_comandes_user_info {
     display: none;
}

#tbl_comandes_user_paginate {
     float: left;
     margin-top: 20px;
     text-align: center;
     width: 957px;
}

#tbl_comandes_user_paginate a {
     background-color: white;
     border-radius: 2px 2px 2px 2px;
     border: 1px solid #E2E2E2;
     color: #A8A8A8;
     cursor: pointer;
     font-family: arial;
     font-size: 11px;
     padding: 4px 12px;
}

#tbl_comandes_user_paginate a:hover {
     background-color: white;
     border-radius: 2px 2px 2px 2px;
     border: 1px solid #333333;
     color: #333333 ! important;
     cursor: pointer;
     font-family: arial;
     font-size: 11px;
     padding: 4px 12px;
}

#tbl_comandes_user_next {
     float: right;
     margin-top: -6px ! important;
}

#tbl_comandes_user_last {
     float: right;
     margin-left: 10px;
     margin-right: 1px;
     margin-top: -6px ! important;
}

#tbl_comandes_user_first {
     float: left;
     margin-top: -6px ! important;
}

#tbl_comandes_user_previous {
     float: left;
     margin-top: -6px ! important;
}

.paginate_button {
     margin: 10px ! important;
}

.paginate_active {
     background-color: #F7931E ! important;
     color: #333333 ! important;
     margin: 10px ! important;
     padding: 30px;
}

#taula {
  
    float: left;
    margin-left: 20px;
    margin-top: -20px;
    width: 957px;
}

#canvia {
     float: left;
     margin-right: 20px;
     width: 330px;
}

#canvia .numca {
     color: #888888;
     font-family: arial;
     height: 30px;
     margin-bottom: 20px;
     margin-left: 0px;
     margin-top: 4px;
     width: 30px;
}

#canvia .posta {
     color: #888888;
     font-family: arial;
     height: 30px;
     margin-bottom: 20px;
     margin-left: 0px;
     margin-top: 4px;
     width: 110px;
}
#content_per{
    width:1000px;
    float:left;
    margin-top:30px
}    
#content_left{
    width:350px;
    float:left;
    margin-top:30px
}
#content_right{
    width:650px;
    float:left;
    margin-top:30px
}







.tabs {
    position: relative;
	margin: 40px auto;
	width: 910px;
}

.tabs .opts {
	position: absolute;
	z-index: 1000;
	width: 200px;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}
.tabs input#tab-2{
	left: 213px;
}
.tabs input#tab-3{
	left: 463px;
}
.tabs input#tab-4{
	left: 360px;
}

.tabs .labe {
	background: #f7931e;
	font-size: 15px;
	line-height: 40px;
	height: 40px;
	position: relative;
	padding: 0 20px;
    float: left;
	display: block;
	color: #333;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
    font-family:raleway;
    
}

.tabs labe:after {
    content: '';
	background: #fff;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}

.tabs label:first-of-type {
    z-index: 4;
    
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked + label {
    background: #f9f9f9;
	z-index: 6;
}

.clear-shadow {
	clear: both;
}

.contente {
    background: #f9f9f9;
	position: relative;
    width: 1000px;
	height: 100%;
	z-index: 5;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
     font-family: raleway;
    font-size: 12px;
    float:left;
    margin-bottom: 110px;
}

.contente .contente-1, .contente .contente-2, .contente .contente-3, .contente .contente-4 {
    position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0px;
	z-index: 1;
    opacity: 0;

    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .contente .contente-1,
.tabs input.tab-selector-2:checked ~ .contente .contente-2,
.tabs input.tab-selector-3:checked ~ .contente .contente-3,
.tabs input.tab-selector-4:checked ~ .contente .contente-4 {
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
    position:relative;
    
}
.contente div h2,
.contente div h3{
	color: #398080;
}
.contente div p {
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	margin: 0;
	color: #777;
	padding-left: 15px;
	border-left: 8px solid rgba(63,148,148, 0.1);
}

.contente .inputs_short{
	height: 30px;
	margin-top: 4px;
	margin-bottom: 10px;
	margin-left: 0px;
	width: 30px;
	font-family: arial;
	color: #888;
}
.contente .inline{
	float: left;
	width: 60px;
}
.contente .inline2{
	float: left;
	width: 160px;
}
.contente .maps{
	border: 1px solid #D6D6D6;
    float: left;
    height: 649px;
    margin-top: 119px;
    width: 641px;
   
}

.useleft {
    border-right: 1px solid #E3E3E3;
    color: #333333;
    float: left;
    font-family: raleway;
    font-weight: bold;
    margin-bottom: 90px;
    margin-left: 20px;
    margin-top: 10px;
    width: 213px;
}
.useleft .inputs {
    color: #888888;
    font-family: arial;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 4px;
    width: 189px;
}
#changepass #username {
    color: #888888;
    font-family: arial;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 4px;
    width: 189px;
}

#changepass #telNumber {
    color: #888888;
    font-family: arial;
    height: 30px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    width: 189px;
}
#usemaps {
    float: left;
    height: 323px;
    margin-left: 20px;
    margin-top: 24px;
    width: 434px;
}


#changepass {
    border-right: 1px solid #E3E3E3;
    color: #888888;
    float: left;
    font-family: arial;
    font-size: 14px;
    height: 348px;
    margin-left: 20px;
    margin-top: 20px;
    padding-right: 20px;
    width: 240px;
}
.cha a {
    color: #377EEF;
    float: left;
    font-family: raleway;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#votaPlats_dialog {
    position: fixed;
    top: 100px;
}