.final1{
	font-family:raleway;
	font-weight: bold;
	text-align:center;
	padding:20px;
	text-transform: uppercase;
	border-bottom: 1px solid #999;
	
}
.final3{
	font-family:raleway;
	font-weight: bold;
	text-align:center;
	padding:20px;
	text-transform: uppercase;
	border-bottom: 1px solid #999;
	
}
.final4{
	font-family:raleway;
	font-weight: bold;
	text-align:center;
	padding:20px;
	text-transform: uppercase;
	border-bottom: 1px solid #999;
	
}