div.calendar {
     position: relative;
     width: 371px;
     z-index: 1001;
     border: 1p solid #999;
     -webkit-box-shadow: 0 7px 26px 1px #999;
    box-shadow: 0 7px 26px 1px #999;
}

.calendar, .calendar table {
     background: none repeat scroll 0% 0% #F5F5F5;
     color: #000000;
     cursor: default;
     font-family: arial;
     font-size: 13px;
     width: 200px;
}

.calendar .button {
     color: #000000;
     font-weight: bold;
     padding: 5px;
     text-align: center;
}

.calendar .nav {
    
}

.calendar thead .title {
     color: #EEFFAA;
     font-weight: bold;
     padding: px;
     text-align: center;
}

.calendar thead .headrow {
     color: white;
     text-transform: uppercase;
}

.calendar thead .name {
     border-bottom: 1px solid #556655;
     color: #000000;
     padding: 2px;
     text-align: center;
}

.calendar thead .weekend {
     color: #AA6666;
}

.calendar thead .hilite {
     border: 0px solid white;
}

.calendar thead .active {
    
}

.calendar thead .daynames {
    
}

.calendar tbody .day {
     color: #000066;
     padding: 2px 4px 2px 2px;
     text-align: right;
     width: 2em;
}

.calendar tbody .day.othermonth {
     color: #BBBBBB;
     font-size: 80%;
}

.calendar tbody .day.othermonth.oweekend {
     color: #FFBBBB;
}

.calendar table .wn {
     border-right: 1px solid #88AA88;
     padding: 2px 3px 2px 2px;
}

.calendar tbody .rowhilite td {
    
}

.calendar tbody .rowhilite td.wn {
    
}

.calendar tbody td.hilite {
     border: 1px solid #BBBBBB;
}

.calendar tbody td.active {
     padding: 2px 2px 0px;
}

.calendar tbody td.selected {
     border: 1px solid #000000;
     color: #000000;
     font-weight: bold;
     padding: 1px 3px 1px 1px;
}

.calendar tbody td.weekend {
     color: #AA6666;
}

.calendar tbody td.today {
     color: #00008B;
     font-weight: bold;
}

.calendar tbody .disabled {
     color: #999999;
}

.calendar tbody .emptycell {
     visibility: hidden;
}

.calendar tbody .emptyrow {
     display: none;
}

.calendar tfoot .footrow {
     color: #FFFFFF;
     text-align: center;
}

.calendar tfoot .ttip {
     color: #EEFFAA;
     padding: 2px;
}

.calendar tfoot .hilite {
     border: 1px solid #008844;
     color: #000000;
     padding: 1px;
}

.calendar tfoot .active {
     padding: 2px 0px 0px 2px;
}

.calendar .combo {
     border: 1px solid #556655;
     color: #000000;
     cursor: default;
     display: none;
     font-size: 90%;
     left: 0px;
     position: absolute;
     top: 0px;
     width: 4em;
     z-index: 100;
}

.calendar .combo .label, .calendar .combo .label-IEfix {
     padding: 1px;
     text-align: center;
}

.calendar .combo .label-IEfix {
     width: 4em;
}

.calendar .combo .hilite {
    
}

.calendar .combo .active {
     border-bottom: 1px solid #66AA44;
     border-top: 1px solid #66AA44;
     font-weight: bold;
}

.calendar td.time {
     border-top: 1px solid #88AA88;
     padding: 1px 0px;
     text-align: center;
}

.calendar td.time .hour, .calendar td.time .minute, .calendar td.time .ampm {
     background-color: #FFFFFF;
     border: 1px solid #889988;
     font-weight: bold;
     padding: 0px 3px 0px 4px;
}

.calendar td.time .ampm {
     text-align: center;
}

.calendar td.time .colon {
     font-weight: bold;
     padding: 0px 2px 0px 3px;
}

.calendar td.time span.hilite {
     background-color: #668866;
     border-color: #000000;
     color: #FFFFFF;
}

.calendar td.time span.active {
     background-color: #000000;
     border-color: #FF0000;
     color: #00FF00;
}

.calendar thead .title {
    color: #999999;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.calendar thead .name {
     border-bottom: 1px solid #556655;
     color: #000000;
     padding: 12px 12px 12px 12px;
     text-align: center;
}

.calendar thead .weekend {
     color: #AA6666;
}

.calendar thead .hilite {
     background-color: #C0D2E7;
     border: 0px solid white;
     color: #000000;
}

.calendar thead .active {
     background-color: red;
     padding: 2px 0px 0px 2px;
}

.calendar thead .daynames {
     background: none repeat scroll 0% 0% white;
}

.calendar tbody .day {
     color: #red;
     padding: 8px 8px 8px 8px;
     text-align: center;
     width: 2em;
}

.calendar tbody .day.othermonth {
     color: #BBBBBB;
     font-size: 80%;
}

.calendar tbody .day.othermonth.oweekend {
     color: #FFBBBB;
}

.calendar table .wn {
     background: none repeat scroll 0% 0% white;
     border-right: 1px solid #88AA88;
     padding: 12px 13px 12px 12px;
     width: 200px;
}

.calendar tbody .rowhilite td {
     background: none repeat scroll 0% 0% #C0D2E7;
}

.calendar tbody .rowhilite td.wn {
     background: none repeat scroll 0% 0% #C0D2E7;
}

.calendar tbody td.hilite {
     background: none repeat scroll 0% 0% #3FA9F5;
     border: 0px solid blue;
    
}

.calendar tbody td.active {
     background: none repeat scroll 0% 0% red;
     padding: 2px 2px 0px;
}

.calendar tbody td.selected {
     background: none repeat scroll 0% 0% #8CC63F;
     border: 1px solid #56722A;
     color: #000000;
     font-weight: bold;
   
}

.calendar tbody td.weekend {
     color: #AA6666;
}

.calendar tbody td.today {
     color: #3FA9F5;
     font-weight: bold;
}

.calendar tbody .disabled {
     color: #999999;
}

.calendar tbody .emptycell {
     visibility: hidden;
}

.calendar tbody .emptyrow {
     display: none;
}

.calendar tfoot .footrow {
     background: none repeat scroll 0% 0% #000050;
     color: black;
     text-align: center;
}

.calendar tfoot .ttip {
     color: white;
     padding: 12px;
     text-transform:uppercase;
     background-color:#3FA9F5;
}

.calendar tfoot .hilite {
     background: none repeat scroll 0% 0% #AAFFAA;
     border: 1px solid #008844;
     color: #000000;
     padding: 0px;
}

.calendar tfoot .active {
     background: none repeat scroll 0% 0% #000050;
     padding: 2px 0px 0px 2px;
}

.calendar .combo {
     background: none repeat scroll 0% 0% #C9D1E9;
     border: 1px solid #556655;
     color: #000000;
     cursor: default;
     display: none;
     font-size: 90%;
     left: 0px;
     position: absolute;
     top: 0px;
     width: 4em;
     z-index: 100;
}

.calendar .combo .label, .calendar .combo .label-IEfix {
     padding: 1px;
     text-align: center;
}

.calendar .combo .label-IEfix {
     width: 4em;
}

.calendar .combo .hilite {
     background: none repeat scroll 0% 0% #F5F5F5;
}

.calendar .combo .active {
     background: none repeat scroll 0% 0% #EEFFEE;
     border-bottom: 1px solid #66AA44;
     border-top: 1px solid #66AA44;
     font-weight: bold;
}

.calendar td.time {
     background-color: red;
     border-top: 1px solid #88AA88;
     padding: 1px 0px;
     text-align: center;
}

.calendar td.time .hour, .calendar td.time .minute, .calendar td.time .ampm {
     background-color: #FFFFFF;
     border: 1px solid #889988;
     font-weight: bold;
     padding: 0px 3px 0px 4px;
}

.calendar td.time .ampm {
     text-align: center;
}

.calendar td.time .colon {
     font-weight: bold;
     padding: 0px 2px 0px 3px;
}

.calendar td.time span.hilite {
     background-color: #668866;
     border-color: #000000;
     color: #FFFFFF;
}

.calendar td.time span.active {
     background-color: #000000;
     border-color: #FF0000;
     color: #00FF00;
}
