div.datepicker {
     cursor: default;
     display: none;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 13px;
     left: 0px;
     position: absolute;
     top: 0px;
}

.datepickerContainer {
     background: none repeat scroll 0% 0% #FFFFFF;
     color: #000000;
     position: relative;
}

table.months {
     border: medium none;
     width: 800px;
}

table.months tr {
     border: medium none;
}

table.months tr td {
     border: medium none;
}

table.months div {
     width: 250px;
}

.datepickerHidden {
     display: none;
}

div.datepicker table {
     border-collapse: collapse;
}

div.datepicker {
     color: #000000;
     cursor: default;
     outline: medium none;
     text-decoration: none;
}

div.datepicker table td {
     margin: 0px;
     padding: 10px;
     text-align: center;
}

div.datepicker th {
     color: #999999;
     font-weight: normal;
     text-align: center;
}

div.datepicker tbody th {
     text-align: center;
}

div.datepicker tbody a {
     display: block;
}

.datepickerDays {
     font-size: 12px;
     height: 16px;
     line-height: 16px;
     padding-right: 2px;
     width: 20px;
}

.datepickerYears, .datepickerMonths {
     height: 36px;
     line-height: 36px;
     text-align: center;
     width: 44px;
}

td.datepickerNotInMonth {
     background: none repeat scroll 0% 0% #C0C0C0;
     color: black;
}

tbody.datepickerDays td.datepickerSelectedOk {
     background: none repeat scroll 0% 0% #4B774B;
     color: white;
}

tbody.datepickerDays td.datepickerSelectedNook {
     background: none repeat scroll 0% 0% #FF0000;
     color: white;
}

tr.datepickerDoW th {
     background: none repeat scroll 0% 0% #5881B2;
     border: medium none;
     color: white;
     font-size: 12px;
     margin: 5px 5px 0px 0px;
     text-align: center;
     width: 27px;
}

tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
     background: none repeat scroll 0% 0% #17384D;
}

tbody.datepickerYears td.datepickerSelected, tbody.datepickerMonths td.datepickerSelected {
     background: none repeat scroll 0% 0% #17384D;
}

div.datepicker tbody th {
     text-align: center;
}

.datepickerSpace div {
     width: 20px;
}

.datepickerMonth {
     background: none repeat scroll 0% 0% #333399;
     height: 20px;
     line-height: 20px;
     width: 100%;
}

.datepickerMonth span {
     color: white;
     text-align: center;
}

.datepickerGoNext {
     float: right;
     width: 20px;
}

.datepickerGoPrev {
     float: left;
     width: 20px;
}

table.datepickerViewDays tbody.datepickerMonths, table.datepickerViewDays tbody.datepickerYears {
     display: none;
}

table.datepickerViewMonths tbody.datepickerDays, table.datepickerViewMonths tbody.datepickerYears, table.datepickerViewMonths tr.datepickerDoW {
     display: none;
}

table.datepickerViewYears tbody.datepickerDays, table.datepickerViewYears tbody.datepickerMonths, table.datepickerViewYears tr.datepickerDoW {
     display: none;
}

td.datepickerDisabled, td.datepickerDisabled.datepickerNotInMonth {
     color: #333333;
     font-size: 12px;
}

td.datepickerSpecial {
     background: none repeat scroll 0% 0% #464686;
     color: white;
     font-size: 12px;
}

td.datepickerSpecial.datepickerSelected {
     background: none repeat scroll 0% 0% #AA0000;
}

td.datepickerWeekend {
     background: none repeat scroll 0% 0% #81A0CE;
     color: black;
     font-size: 12px;
}

.border_selected span {
     color: black;
     font-size: 16px;
     font-weight: bold;
}
