.selector {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: blue 2px solid;
	width: 500px;
}

.abs {
	position: absolute;
	top: 20px;
	right: 50px;
	width: 400px;
	height: 200px;
}
.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}
.draggable {
	position: absolute;
	z-index: 10;
}

#slider li {
	width: 206px;
}

.prevBtn {
	left: 0px;
}