.selector {
	
}

.abs {
	position: absolute;
	top: 20px;
	right: 50px;
	width: 400px;
	height: 200px;
}
.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}
.draggable {
	position: absolute;
	z-index: 10;
}

