#container {
    position: relative;
}
#slider ul, #slider li {
    display: block;
    list-style: none outside none;
    position: relative;
}

#slider li {
	width: 206px;
}

.prevBtn {
	left: 302px;
	top: 240px;
}

#slider {
    overflow: hidden;
    position: absolute;
}
.prevBtn, .nextBtn {
    cursor: pointer;
    display: block;
    height: 77px;
    position: absolute;
    z-index: 1000;
}
.nextBtn {
    left: 1335px;
    top: 230px;
}
.nextBtn {
    background: url("../images/btn_next.gif") no-repeat scroll 0 0 transparent;
}
.prevBtn {
    background: url("../images/btn_prev.gif") no-repeat scroll 0 0 transparent;
}
