#container {
     position: relative;
}

#slider ul, #slider li {
     display: block;
     list-style: none outside none;
     position: relative;
}

#slider li {
     width: 206px;
}

.prevBtn {
     left: -40px;
     top: 60px;
}

#slider {
     overflow: hidden;
     position: absolute;
}

.prevBtn, .nextBtn {
     cursor: pointer;
     display: block;
     height: 77px;
     position: relative;
     z-index: 1000;
}

.nextBtn {
     left: 1001px;
     top: -20px;
}

.nextBtn {
     background: #333;
     width:40px
}
.nextBtn:hover {
     background: #3FA9F5;
     width:40px
}

.prevBtn {
    background: #333;
    width:40px
}
.prevBtn:hover {
     background: #3FA9F5;
     width:40px
}