<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>PORTAMU</display-name>
	<icon>
	    <large-icon>/img/elements/logo_portamu32.jpg</large-icon>	    
	</icon>
	
	<context-param>
		<param-name>app</param-name>
		<param-value>elteurestaurantacasa</param-value>
	</context-param>
	<context-param>
		<description>temps en segons</description>
		<param-name>confirmTime</param-name>
		<param-value>6000</param-value>
	</context-param>
	<context-param>
		<description>temps en minuts que tarden els moters</description>
		<param-name>moterTime</param-name>
		<param-value>10</param-value>
	</context-param>
	<context-param>
		<description>temps en minuts de guarda per calcular el l'hora de la comanda abans d'escollir plats</description>
		<param-name>guardaTime</param-name>
		<param-value>40</param-value>
	</context-param>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>


	<!--servlet> <servlet-name>mvc-dispatcher</servlet-name> <servlet-class> 
		org.springframework.web.servlet.DispatcherServlet </servlet-class> <load-on-startup>1</load-on-startup> 
		</servlet> <servlet-mapping> <servlet-name>mvc-dispatcher</servlet-name> 
		<url-pattern>/</url-pattern> </servlet-mapping -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		/WEB-INF/classes/spring/config/BeanLocations.xml
		/WEB-INF/classes/spring/config/Spring-security.xml
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<error-page>
		<error-code>404</error-code>
		<location>/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error403.jsp</location>
	</error-page>
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
